
.vs/LearningTools.SandBox.Api/v15/.suo
.vs/LearningTools.SandBox.Api/v15/Server/sqlite3/db.lock
.vs/LearningTools.SandBox.Api/v15/Server/sqlite3/storage.ide
.vs/LearningTools.SandBox.Api/v15/Server/sqlite3/storage.ide-shm
.vs/LearningTools.SandBox.Api/v15/Server/sqlite3/storage.ide-wal
